<%- include('../partials/header', {title: "Login"}) %>
<h1>Login</h1>
<form action="/login" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

  <input type="text" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />

  <button type="submit">Login</button>
</form>
<%- include('../partials/footer') %>
