<%- include('../partials/header', {title: "Register"}) %>
<h1>Register</h1>
<form action="/register" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

  <input type="text" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <input
    type="password"
    name="passwordConfirm"
    placeholder="Confirm password"
  />

  <button type="submit">Register</button>
</form>
<%- include('../partials/footer') %>
