<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <% if(isAuth) { %>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>        
      <% } %>
    </nav>
    <%- include('./errors') %>