<%- include('partials/header', {title: 'Create a new user'}) %> <%
if(users.length) { %>

<ul>
  <% for(let user of users) { %>
  <li>
    <a href="/admin/edit-user/<%= user._id %>"><%= user.name %></a>

    <form action="/admin/delete-user" method="POST" style="display: inline">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <input type="hidden" value="<%= user._id %>" name="userId" />
      <button class="btn" type="submit">Delete</button>
    </form>
  </li>
  <% } %>
</ul>

<% } %>

<form action="/admin/create-user" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input type="text" name="username" />
  <input type="text" name="password" />
  <button type="submit">Save</button>
</form>
<%- include('partials/footer') %>
