<%- include('partials/header', {title: 'Edit User: ' + user.name }) %>
<h1>Edit user: <%= user.name %></h1>

<form action="/admin/update-user" method="post">
  <input type="hidden" name="userId" value="<%= user._id %>" />
  <input type="text" name="name" value="<%= user.name %>" />

  <button type="submit">Update</button>
</form>

<h2>Add product to <%= user.name %></h2>
<%= products[0]?.user?.name %>

<form action="/admin/add-product" method="post">
  <input type="hidden" name="userId" value="<%= user._id %>" />
  <input type="text" name="title" />
  <input type="number" name="price" />

  <button type="submit">Add Product</button>
</form>

<h3>List of products of current user</h3>
<ul>
  <% for(let product of products) { %>
  <li><%= product.title %> <%= product.price %>$</li>
  <% } %> <%= products.length ? '' : 'No products' %>
</ul>

<h3>Cart</h3>
<ul>
  <% for(let cartItem of user.cart.items) { %>
  <li>
    name: <%= cartItem.productId.title %> | quantity: <%= cartItem.quantity %>
  </li>
  <% } %>
</ul>

<%- include('partials/footer') %>
