<%- include('partials/header', {title: 'Shop'}) %>
<h1>Shop</h1>

<ul>
  <% for(let product of products) { %>
  <li>
    <%= product.title %> <%= product.price %>$
    <a href="/add-to-cart/<%= product._id %>">add to cart</a>
  </li>
  <% } %> <%= products.length ? '' : 'No products' %>
</ul>

<%- include('partials/footer') %>
